@model IEnumerable<MP_MB_MD.Core.Modal.Manage_UserModel>
@{
    ViewData["Title"] = "ManagerUserDetails";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="row">
    <div class="col-md-12 mt-5">
        <div class="card m-b-30">
            <div class="card-body">
                <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>

                            <th>SI No</th>
                            <th>User Type</th>
                            <th>Name</th>
                            <th>Mobile No</th>
                            <th>Email Id</th>
                            <th>User Name</th>

                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            int count = 0;
                            foreach (var iteam in Model)
                            {
                                count = count + 1;

                        <tr>
                            <td>@count</td>
                            <td>@iteam.UserTypename</td>
                            <td>@iteam.Name</td>

                            <td>@iteam.Mobile_no</td>
                            <td>@iteam.Email_Id</td>
                            <td>@iteam.User_name</td>
                           
                            <td>
                                <a href="/Admin/Manager_User?id=@iteam.User_Id" class=""><i class="fa fa-edit"></i>Edit</a>
              
                            </td>
                        </tr>
                            }
                        }
                    </tbody>
                </table>
                <div class="row mt-lg-4 mr-1">
                    <div class="col-md-11"></div>
                    <div class="col-md-1">
                        <a href="/AEHUB/BatchDetails"><button class="btn btn-primary">Back</button></a>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>

