@model MP_MB_MD.Core.Modal.Manage_UserModel

@{
    ViewData["Title"] = "Manager_User";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<head>
    <style>
        .COLOR {
            color: #007bff
        }
    </style>
</head>
@Html.Raw(TempData["msg"]);
<div class="row">
    <div class="col-md-12 mt-5">
        <form action="/Admin/Manager_User" method="post">
            @{string confirmMessage = Convert.ToString(TempData["evalution"]); string warningMessage = Convert.ToString(TempData["Examevaluationwmsg"]);}
            @if (!string.IsNullOrEmpty(confirmMessage))
            {
                <div class="alert alert-success alert-dismissable" id="divSuccessMessage">
                    <input type="hidden" id="messagealert" value="@confirmMessage" />
                    @confirmMessage
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                </div>
            }
            else if (!string.IsNullOrEmpty(warningMessage))
            {
                <div class="alert alert-warning alert-dismissable" id="divSuccessMessage">
                    <input type="hidden" id="messagealert" value="@warningMessage" />
                    @warningMessage
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                </div>
            }
            else
            {
                <input type="hidden" id="messagealert" value="0" />
            }

            <div class="card m-b-30">
                <h4 class="card-header mt-0 " style="text-align: center; color: #007bff">Manage User</h4>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <label>User Type:</label>
                            @Html.DropDownListFor(x => x.User_Type, (IEnumerable<SelectListItem>)ViewBag.usertype, new { @class = "form-control",@onchange="Dropchange()",@id= "User_Type" })


                        </div>

                        <div class="col-md-4">
                            <label>Name:</label>
                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })

                        </div>

                        <div class="col-md-4">
                            <label>Mobile No</label>
                            @Html.TextBoxFor(x => x.Mobile_no, new { @class = "form-control", @type = "number" })
                        </div>
                    </div>


                    <div class="row mt-2">
                        <div class="col-md-4">
                            <label>User Name</label>
                            @Html.TextBoxFor(x => x.User_name, new { @class = "form-control" })

                        </div>
                        <div class="col-md-4">
                            <label>Password</label>
                            @Html.TextBoxFor(x => x.Password, new { @class = "form-control" })

                        </div>

                        <div class="col-md-4">
                            <label>Email Id</label>
                            @Html.TextBoxFor(x => x.Email_Id, new { @class = "form-control" })

                        </div>

                    </div>
                    <div class="row mt-2">
                        <div class="col-md-4" id="Block">
                            <label>Block</label>
                            @Html.DropDownListFor(x => x.Block, (IEnumerable<SelectListItem>)ViewBag.block, new { @class = "form-control", @id = "Block" })

                        </div>
                        <div class="col-md-4" id="Grampanchayat">
                            <label>Grampanchayat</label>
                            @Html.DropDownListFor(x => x.Block, (IEnumerable<SelectListItem>)ViewBag.Grampanchayat, new { @class = "form-control", @id = "Grampanchayat" })

                        </div>
                        <div class="col-md-4" id="Department_Id">
                            <label>Department</label>
                            @Html.DropDownListFor(x => x.Department_Id, (IEnumerable<SelectListItem>)ViewBag.department, new { @class = "form-control", @id = "Department_Id" })

                        </div>
                        <div class="col-md-4" id="Department_Desc">
                            <label>Department name</label>
                            @Html.TextBoxFor(x => x.Department_Desc, new { @class = "form-control", @id = "Department_Desc" })
                        </div>


                    </div>


                    <div class="row mt-lg-4 mr-1">
                        <div class="col-md-9"></div>
                        <div class="col-md-3" style="text-align:right;">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button class="btn btn-danger">Cancel</button>
                        </div>
                    </div>
                </div>

            </div>



            <div id="cover-spin"></div>
        </form>
    </div>
</div>
<div id="cover-spin"></div>
<script src="~/assets/js/popper.min.js"></script>
<script src="~/assets/js/common.js"></script>
<script src="~/assets/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/js/jquery.min.js"></script>
<script>

    $(document).ready(function () {
        $("#Block").hide();
        $("#Grampanchayat").hide();
        $("#Department_Id").hide();
        $("#Department_Desc").hide();
        
    });

    function Dropchange() {
        debugger;
        var data = $("#User_Type").val();
        if (data == 2) {
            $("#Block").show();
            $("#Grampanchayat").show();
            $("#Department_Id").hide();
            $("#Department_Desc").hide();

        }
        else if (data == 3) {
            $("#Block").show();
            $("#Grampanchayat").hide();
            $("#Department_Id").hide();
            $("#Department_Desc").hide();

        }
        else if (data == 4) {
            $("#Block").show();
            $("#Grampanchayat").hide();
            $("#Department_Id").hide();
            $("#Department_Desc").hide();

        }
        else if (data == 5) {
            $("#Department_Id").show();
            $("#Department_Desc").show();

        }

    }
</script>
