@model MP_MB_MD.Core.ProjectAggregate.Entity.Grievance
@{
    ViewData["Title"] = "Grievance";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

@{
    ViewData["Title"] = "Incubation_Form";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<head>
    <style>
        .COLOR {
            color: #007bff
        }
    </style>
</head>

<div class="row">
    <div class="col-md-12 mt-5">
        <form action="/PEO/Grievance" method="post"enctype="multipart/form-data">
            @{string confirmMessage = Convert.ToString(TempData["Gmsg"]); string warningMessage = Convert.ToString(TempData["WGmsg"]);}
            @if (!string.IsNullOrEmpty(confirmMessage))
            {
                <div class="alert alert-success alert-dismissable" id="divSuccessMessage">
                    <input type="hidden" id="messagealert" value="@confirmMessage" />
                    @confirmMessage
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                </div>
            }
            else if (!string.IsNullOrEmpty(warningMessage))
            {
                <div class="alert alert-warning alert-dismissable" id="divSuccessMessage">
                    <input type="hidden" id="messagealert" value="@warningMessage" />
                    @warningMessage
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                </div>
            }
            else
            {
                <input type="hidden" id="messagealert" value="0" />
            }

            <div class="card m-b-30">
                <h4 class="card-header mt-0 " style="text-align: center; color: #007bff">Grievance Redressal Form</h4>
                <div class="card-body">
           
                        <div class="row">
                            <div class="col-md-4">
                                <label>Name Of The Applicant:</label>
                              @Html.HiddenFor(x=>x.Id)
                                @Html.TextBoxFor(x => x.Name_Of_Applicant, new { @class = "form-control" })
                            </div>

                            <div class="col-md-4">
                                <label>Father / Husband Name:</label>
                                @Html.TextBoxFor(x => x.FatherOrHusbandName, new { @class = "form-control" })
                            </div>

                            <div class="col-md-4">
                                <label>Mobile No</label>
                                @Html.TextBoxFor(x => x.MobileNo, new { @class = "form-control" })
                            </div>
                        </div>


                        <div class="row mt-2">


                            <div class="col-md-4">
                                <label>Email Id</label>
                                @Html.TextBoxFor(x => x.Email_Id, new { @class = "form-control" })
                            </div>

                            <div class="col-md-4">
                                <label>Village Name</label>
                                @Html.TextBoxFor(x => x.VillageName, new { @class = "form-control" })
                            </div>
                            <div class="col-md-4">
                                <label>Post Office Name</label>
                                @Html.TextBoxFor(x => x.Post_Office_Name, new { @class = "form-control" })
                            </div>
                        </div>


                        <div class="row mt-2">
                            <div class="col-md-4">
                                <label>Pin Code</label>
                                @Html.TextBoxFor(x => x.Pincode, new { @class = "form-control" })
                            </div>


                            <div class="col-md-4">
                                <label>Upload Attachment</label>
                                <input type="file" class="form-control" name="attachment" />
                                @if (Model != null)
                                {
                                    <a id="" href="@Model.Attachment" target="_blank" style="color:#4161ff">View</a>
                                    <input type="hidden" value="@Model.Attachment" name="Attachmentview" />
                                }
                            </div>

                        </div>

                        <div class="row mt-2">
                            <div class="col-md-12">
                                <label>Details Of Consern</label>
                            
                                @Html.TextAreaFor(x => x.Details_Of_Consern, new { @class = "form-control" })
                            </div>

                        </div>


                        <div class="row mt-lg-4 mr-1">
                            <div class="col-md-9"></div>
                            <div class="col-md-3" style="text-align:right;">
                                @if (Model != null)
                                {
                                    <button type="submit" class="btn btn-primary">Update</button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                }

                                <button class="btn btn-danger">Cancel</button>
                            </div>
                        </div>

                </div>

            </div>



            <div id="cover-spin"></div>
        </form>
    </div>
</div>
